* {
  padding: 0;
  margin: 0; }

header {
  padding: 30px 0; }

.container {
  max-width: 1300px;
  margin: auto; }

.d-flex {
  display: flex; }

.justify-content {
  justify-content: space-between; }

.align-items {
  align-items: center; }

header nav ul {
  display: flex;
  list-style: none; }
  header nav ul li {
    margin-left: 33px; }
    header nav ul li:last-of-type {
      margin-left: 44px; }
    header nav ul li a {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      text-transform: uppercase;
      color: #000000;
      text-decoration: none; }

.icon-header {
  display: flex;
  align-items: center;
  list-style: none; }
  .icon-header li {
    margin-left: 13px; }

.navigation nav ul li img {
  margin-left: 3px; }

.new-phone {
  padding: 28px 0; }

.phone {
  background: #DCE5E2;
  border-radius: 32px; }

.the-new-phone h1 {
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 70px;
  color: #000000;
  padding-top: 145px;
  padding-left: 56px;
  padding-bottom: 19px; }
.the-new-phone p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  padding-left: 56px;
  padding-bottom: 44px; }
.the-new-phone a {
  text-decoration: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-transform: capitalize;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 200px;
  padding: 14px 53px;
  margin-left: 56px; }

.shop {
  padding-bottom: 28px; }

.categories {
  max-width: 1151px;
  margin: auto;
  padding-top: 28px; }
  .categories h3 {
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    color: #000000;
    padding-bottom: 9px; }
  .categories p {
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #000000;
    margin-bottom: 55px; }

.laptop {
  max-width: 639px;
  -webkit-box-shadow: 0 4px 35px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 35px 0 rgba(0, 0, 0, 0.25);
  margin-bottom: 72px;
  position: relative;
  transition: 0.3s;
  bottom: 0;
  border-radius: 32px; }
  .laptop:hover {
    bottom: -20px; }
  .laptop p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    text-align: right;
    color: #000000;
    padding-right: 42px; }
  .laptop h3 {
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    text-align: right;
    color: #000000;
    padding-right: 42px; }

.watch {
  max-width: 639px;
  align-items: center;
  -webkit-box-shadow: 0 4px 35px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 35px 0 rgba(0, 0, 0, 0.25);
  position: relative;
  transition: 0.3s;
  bottom: 0;
  border-radius: 32px; }
  .watch:hover {
    bottom: -20px; }
  .watch p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    text-align: right;
    color: #000000; }
  .watch h3 {
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    text-align: right;
    color: #000000; }

.watch-style {
  max-width: 174px;
  padding-left: 46px;
  padding-right: 42px;
  position: relative;
  transition: 0.3s;
  bottom: 0; }
  .watch-style:hover {
    bottom: -20px; }

.iphone {
  max-width: 312px;
  -webkit-box-shadow: 0 4px 35px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 35px 0 rgba(0, 0, 0, 0.25);
  margin-left: 16px;
  padding-top: 144px;
  padding-left: 25px;
  position: relative;
  transition: 0.3s;
  bottom: 0;
  border-radius: 32px; }
  .iphone:hover {
    bottom: -20px; }
  .iphone p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    color: #000000;
    padding-top: 44px; }
  .iphone h3 {
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #000000; }

.table {
  max-width: 312px;
  -webkit-box-shadow: 0 4px 35px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 35px 0 rgba(0, 0, 0, 0.25);
  margin-left: 16px;
  position: relative;
  transition: 0.3s;
  bottom: 0;
  border-radius: 32px; }
  .table:hover {
    bottom: -20px; }
  .table p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000;
    padding-top: 114px; }
  .table h3 {
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #000000; }

.save-items {
  padding-bottom: 28px; }

.items {
  margin-top: 53px; }
  .items h3 {
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    color: #000000;
    padding-bottom: 9px;
    padding-top: 19px; }
  .items p {
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: #000000;
    text-align: center;
    padding-bottom: 56px; }

.mac-book {
  max-width: 302px; }
  .mac-book h3 {
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: #000000;
    padding-top: 33px;
    padding-bottom: 9px; }
  .mac-book p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #4B4B4B;
    padding-bottom: 25px; }
  .mac-book h4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000; }

.img-product {
  max-width: 302px;
  text-align: center; }

.smart-watch h3 {
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #000000;
  padding-top: 33px;
  padding-bottom: 9px; }
.smart-watch p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4B4B4B;
  padding-bottom: 8px; }
.smart-watch h4 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000; }

.description {
  max-width: 302px; }

.mac-book-air h3 {
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #000000;
  padding-bottom: 9px;
  padding-top: 33px; }
.mac-book-air p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4B4B4B;
  padding-bottom: 8px; }
.mac-book-air h4 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000; }

.ipad h3 {
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #000000;
  padding-top: 33px;
  padding-bottom: 9px; }
.ipad p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4B4B4B;
  padding-bottom: 8px; }
.ipad h4 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000; }

.best-around {
  padding-bottom: 28px; }

.best {
  margin-bottom: 56px; }
  .best h3 {
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    color: #000000;
    padding-top: 19px;
    padding-bottom: 9px; }
  .best p {
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: #000000;
    text-align: center; }

.gratest {
  max-width: 413px;
  background: #F8F9FA;
  border-radius: 16px;
  text-align: center; }
  .gratest p {
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: #000000;
    padding-top: 41px; }
  .gratest h3 {
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 35px;
    color: #000000;
    padding-bottom: 44px; }
  .gratest a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    color: #000000;
    text-decoration: none;
    border: 1px solid #000000;
    border-radius: 200px;
    padding: 14px 63px; }
  .gratest img {
    padding-top: 30px; }

.box-ideas {
  margin-top: 48px;
  margin-bottom: 56px; }
  .box-ideas h3 {
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    color: #000000;
    padding-bottom: 9px; }
  .box-ideas p {
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    text-align: center;
    color: #000000; }

.img {
  max-width: 620px; }

.design {
  max-width: 639px; }
  .design p {
    padding-bottom: 23px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    padding-left: 23px; }

.see-all {
  max-width: 109px;
  margin: auto;
  padding-top: 74px;
  padding-bottom: 24px; }
  .see-all a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-transform: capitalize;
    color: #000000;
    text-decoration: none; }

.search-else {
  padding-top: 28px;
  padding-bottom: 28px; }

.looking {
  padding-top: 19px;
  padding-bottom: 10px;
  max-width: 563px;
  margin: auto; }
  .looking h3 {
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    color: #000000; }

.search {
  max-width: 650px;
  margin: auto;
  padding-top: 14px;
  position: relative;
  padding-bottom: 18px; }
  .search input {
    background: #F8F9FA;
    border: 1px solid #C5C5C5;
    border-radius: 100px;
    width: 650px;
    padding-top: 21px;
    padding-bottom: 22px;
    padding-left: 67px; }
    .search input::placeholder {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #000000; }
    .search input::-webkit-search-cancel-button {
      display: none; }
  .search button {
    border: 0;
    position: absolute;
    margin-top: 17px;
    margin-left: 22px;
    background: none; }

.link-product {
  max-width: 660px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 61px; }
  .link-product a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    text-decoration: none;
    background: #FFFFFF;
    border: 1px solid #C5C5C5;
    border-radius: 200px;
    padding: 13px 22px;
    margin-right: 7px;
    margin-top: 7px; }

.never-miss {
  max-width: 935px;
  background: #DCE5E2;
  border-radius: 16px;
  margin: auto;
  text-align: center;
  padding-bottom: 43px; }
  .never-miss h3 {
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    color: #000000;
    padding-bottom: 9px;
    padding-top: 47px; }
  .never-miss p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    padding-bottom: 14px; }

.email {
  max-width: 430px;
  display: flex;
  margin: auto;
  padding-top: 14px; }
  .email input {
    background: #DCE5E2;
    border: 1px solid #000000;
    border-radius: 54px 0 0 54px;
    padding-top: 16px;
    padding-bottom: 17px;
    padding-left: 32px;
    width: 280px; }
    .email input::placeholder {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #000000; }
  .email button {
    background: #000000;
    border-radius: 0px 200px 200px 0px;
    padding: 16px 31px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF; }

footer {
  background: #F8F9FA; }
  footer .box-footer {
    padding-bottom: 80px; }
  footer .logo-footer {
    width: 394px;
    padding-top: 43px; }
    footer .logo-footer p {
      padding-top: 18px; }

.products {
  list-style: none;
  padding-top: 45px; }
  .products li {
    padding-bottom: 15px;
    width: 197px; }
    .products li:first-of-type a {
      font-family: 'Readex Pro';
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 28px;
      color: #000000;
      padding-bottom: 20px; }
    .products li a {
      text-decoration: none;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 22px;
      color: #000000; }

.footer-by {
  border-top: solid #DCE5E2;
  padding-top: 52px; }

.made a {
  text-decoration: none;
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000; }

.azvedo {
  display: flex; }
  .azvedo a {
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000; }

/*# sourceMappingURL=style.css.map */
